@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

/* Reset Styles */
@import url("reset.css");

/* Common styles */
body {
	font-family: "Rubik", sans-serif;
	color: #646D70;
	font-size: 14px;
	background-color: #606B74;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 830px;
	padding-inline: 15px;
	margin-inline: auto;
}
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding:clamp(0.438rem, 4.762vw - 1.845rem, 0.625rem) clamp(0.938rem, 1.176vw + 0.702rem, 1.313rem);
	border-radius: 4px;
	background: #FFF;
	color: #606B74;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.3s;
	border: 1px solid #FFFFFF;
}
.button--border {
	border-color: #646D70;
}
@media (any-hover: hover){
	.button:hover {
		background-color: #cbb4a2;
		border: 1px solid #cbb4a2;
	}
}
.title {
	color: #222F33;
	font-family: "Merriweather";
	font-size: 30px;
	font-weight: 900;
}
.title--white {
	color: #FFFFFF;
}
.text p {
	line-height: 1.9;
}
.text--white {
	color: #FFFFFF;
	opacity: 0.7;
}
.text p:not(:last-child) {
	margin-block-end: 10px;
}

/* Header section */

.header {
	position: fixed;
	top: 0;
	left: 0;
	inline-size: 100%;
	z-index: 50; 
	transition: all 0.3s ease;
}
.header.scrolled {
   background-color: #606b74d2;
}
.header__container {
	display: flex;
	column-gap: clamp(0.625rem, 5.882vw - 0.551rem, 2.5rem);
	min-height: clamp(4.375rem, 7.059vw + 2.963rem, 6.625rem);
	color: #FFFFFF;
	align-items: center;
	transition: all 0.3s;
	padding-block: 5px;
}
.header.scrolled .header__container {
	min-height: 4.375rem;
}
.header__logo {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	column-gap: 6px;
	max-inline-size: clamp(7.5rem, 2.941vw + 6.912rem, 8.438rem);
}
.header__logo img {
	inline-size: 100%;
}
.header__menu {
	margin-inline-start: auto;
}
.icon-menu {
	display: none;
}
.menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: clamp(0.625rem, 5.882vw - 0.551rem, 2.5rem);
	row-gap: 5px;
	flex-wrap: wrap;
}
.menu__link {
	position: relative;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}
@media (any-hover: hover){
	.menu__link::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 2px;
		width: 0%;
		background-color: #FFFFFF;
		transform: translateX(-50%);
		transition: all 0.3s;
	}
	.menu__link:hover::after {
		width: 100%;
	}
}
.actions-header {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.actions-header__button {
	position: relative;
	z-index: 5;
}
@media (max-width: 767.98px){
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100vh;
		z-index: 5;
		overflow: auto;
		padding: 110px 15px 30px 15px;
		background-color: #606B74;
		transition: inset-inline-start 0.3s ease;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: clamp(4.375rem, 7.059vw + 2.963rem, 6.625rem);
		z-index: 4;
		background-color: #606B74;
		transition: inset-inline-start 0.3s ease;
	}
	.menu__list {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 30px;
	}
	.menu__link {
		font-size: 32px;
	}
	.icon-menu {
		display: block;
		position: relative;
		z-index: 50;
		inline-size: 32px;
		block-size: 32px;
		border-radius: 6px;
		border: 1px solid rgb(255, 255, 255);
		transition: all 0.3s;
	}
	.icon-menu:hover {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
	}
	.icon-menu .icon-menu__span, .icon-menu .icon-menu__span::before, .icon-menu .icon-menu__span::after {
		content: "";
		left: 8px;
		position: absolute;
		width: 16px;
		height: 2px;
		background-color: #ffffff;
		border-radius: 10px;
		transition: all 0.3s ease 0s;
	}
	.icon-menu .icon-menu__span::before {
		left: 0;
		top: -4px;
	}
	.icon-menu .icon-menu__span::after {
		left: 0;
		bottom: -4px;
	}
	.icon-menu .icon-menu__span {
		top: calc(50% - 1px);
	}
	.menu-open .icon-menu__span {
		width: 0;
	}
	.menu-open .icon-menu__span::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-open .icon-menu__span::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		inset-inline-start: 0;
	}
	.menu-open body {
		overflow: hidden;
	}
}

/* Hero section */
.hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
.hero__video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.hero__play-button {
	position: relative;
	z-index: 5;
}
.hero__container {
	position: relative;
	z-index: 2;
	padding-block-start: clamp(4.063rem, 8.824vw + 2.298rem, 6.875rem);
	padding-block-end: 1.25rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.hero__body {
	display: flex;
	column-gap: clamp(0.625rem, 23.922vw - 4.159rem, 8.25rem);
	row-gap: 20px;
	align-items: center;
}
@media (min-width: 559.98px) {
	.hero__content {
		max-width: 440px;
	}
}
@media (max-width: 559.98px) {
	.hero__body {
		flex-direction: column;
	}
}
.hero__content > * {
	margin-block-end: 12px;
}
.hero__content > *:last-child {
	margin-block-end: 0px;
}
.hero__label {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	opacity: 0.8;
}
.hero__title {
	color: #FFF;
	font-family: "Merriweather";
	font-size: clamp(1.5rem, 1.176vw + 1.265rem, 1.875rem);
	font-weight: 900;
	line-height: normal;
}
.hero__play-button, .hero__pause-button {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.3s;
}
.hero__icon-play, .hero__icon-pause {
	width: 32px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	border-radius: 50%;
	transition: all 0.3s;
}
.hero__play-button:hover .hero__icon-play, .hero__pause-button:hover .hero__icon-pause {
	background-color: #cbb4a2;
}
.hero__play-button:hover, .hero__pause-button:hover {
	color: #cbb4a2;
}
.hero__icon-pause img {
	max-width: 10px;
}
.hero__pause-button {
	display: none;
}

/* Materials section */

.materials {
	position: relative;
	background-color: #FFFFFF;
	padding-block: 1.56rem clamp(1.56rem, 8.235vw - 0.397rem, 3.875rem);
}
@media (min-width: 767.98px) {
	.materials::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: -40px;
		left: -50%;
		transform: translateX(130px);
		width: 100vw;
		height: 40px;
		background-color: #FFFFFF;
	}
}
.materials__container {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}
@media (max-width: 767.98px) {
	.materials__container {
		flex-direction: column;
	}
}
.materials__content > * {
	margin-block-end: 13px;
}
.materials__content > *:last-child {
	margin-block-end: 0px;
}
.materials__content {
	flex: 0 0 48.192771%; /* 400/830 */
}
@media (min-width: 768.98px) {
	.materials__slider {
		margin-block-start: -100px;
	}
}
/* Slider */
.slider {
	position: relative;
	z-index: 15;
	flex: 0 0 325px;
	overflow: hidden;
	aspect-ratio: 325 / 366;
}
@media (max-width: 767.98px) {
	.slider {
		flex: 0 1 500px;
	}
}
@media (max-width: 484.98px){
	.slider {
		flex-basis: auto;
	}
}
.slider__slides {}

.slides {
	display: flex;
	transition: transform 0.5s ease;
}
.slide {
	min-width: 100%;
	aspect-ratio: 325 / 366;
}
.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dots {
	position: absolute;
	z-index: 50;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	column-gap: 5px;
	cursor: pointer;
}
.dots__dot {
	width: 12px; 
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid #675648;
	background-color: rgba(174, 152, 135, 0.4);
}
.dots__dot.active {
	background-color: #AE9887;
}

/* Innovation section */

.innovation {
	position: relative;
	background-color: #222F33;
	padding-block-start: clamp(1.563rem, 8.824vw - 0.202rem, 4.375rem);
	padding-block-end: clamp(1.563rem, 10.784vw - 0.594rem, 5rem);
}
@media (min-width: 767.98px) {
	.innovation::before {
		content: "";
		position: absolute;
		z-index: 5;
		top: -140px;
		left: 50%;
		transform: translateX(130px);
		width: 100vw;
		height: 140px;
		background-color: #222F33;
	}
}
.innovation__title:not(:last-child) {
	margin-block-end: 10px;
}
.innovation__body {
	display: flex;
	flex-wrap: wrap;
	column-gap: clamp(0.625rem, 5.882vw - 0.551rem, 2.5rem);
	row-gap: 0.625rem;
}
@media (max-width: 650.98px){
	.innovation__body {
		flex-direction: column;
	}
}
.innovation__item {
	flex: 1 0 calc(50% - (2.5rem/2));
}

/* Advantages section */

.advantages {
	background-color: #FFFFFF;
	padding-block-start: clamp(1.563rem, 8.824vw - 0.202rem, 4.375rem);
	padding-block-end: clamp(1.563rem, 10.784vw - 0.594rem, 5rem);
}
.advantages__container {
	display: flex;
	column-gap: clamp(1.25rem, 87.302vw - 40.6rem, 4.688rem);
	row-gap: 1.25rem;
}
@media (max-width: 715.98px) {
	.advantages__container {
		flex-direction: column-reverse;
	}
}
.advantages__img {
	flex: 0 0 44.375%; /* 355/800 */
	aspect-ratio: 355 / 362;
}
.advantages__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 715.98px) {
	.advantages__img {
		text-align: center;
	}
}
.advantages__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: clamp(0.625rem, 79.365vw - 37.421rem, 3.75rem);
	row-gap:clamp(0.625rem, 42.857vw - 19.92rem, 2.313rem);
}
@media (max-width: 539.98px){
	.advantages__items {
		grid-template-columns: 1fr;
	}
}
.advantages__item > * {
	margin-block-end: 5px;
}
.advantages__item > *:last-child {
	margin-block-end: 0px;
}
.advantages__title {
	color: #222F33;
	font-family: "Merriweather";
	font-size: 18px;
	font-weight: 900;
}
.advantages__text {
	color: #646D70;
	font-weight: 400;
	line-height: 1.9;
}

/* Footer */

.footer {
	background-color: #222F33;
	padding-block: clamp(1.563rem, 1.569vw + 1.249rem, 2.063rem);
}
.footer__container {
	display: grid;
	justify-content: space-between;
	gap: 0.625rem;
	align-items: center;
	grid-template-columns: repeat(3, 165px);
}
.footer__logo {
	max-width: 135px;
}
.footer__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer__links {
	display: flex;
	align-items: center;
	column-gap: clamp(0.625rem, 3.922vw - 0.159rem, 1.875rem);
	row-gap: 0.625rem;
}
.footer__link, .footer__mail {
	color: #FFF;
	font-weight: 500;
	opacity: 0.7;
	transition: color 0.3s;
}
@media (any-hover: hover){
	.footer__link:hover, .footer__mail:hover {
		color: #AE9887;
	}
}
@media (max-width: 600.98px){
	.footer__container {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.footer__logo {
		order: 1;
		justify-self: center;
	}
	.footer__mail {
		order: 2;
	}
	.footer__links {
		order: 3;
		justify-content: center;
	}
	
}